
/* HEADER */
.header {
	flex-direction: column;
	padding: 2rem 10rem;
}

.header__logo {
	width: 7rem;
}

/* SHOWCASE */
.showcase__title {
	font-size: 4rem;
	text-align: center;
	padding-bottom: 1rem;
}

.showcase__text {
	width: 100%;
	font-size: 2rem;
	line-height: 1.3;
	padding-bottom: 1rem;
}

.btn {
	font-size: 2.8rem;
}


/* SPA */
.spa__flex {
	flex-direction: column-reverse;
}

.spa__title {
	font-size: 4rem;
	padding-top: 3rem;
}

.spa__text {
	padding: 3rem 2rem;
	text-align: justify;
	font-size: 1.7rem;
	line-height: 1.7;
}

.spa__btn {
	width: 50%;
}


/* FEATURE */
.feature__flex {
	flex-direction: column;
}

.feature__box {
	max-width: 44rem;
	min-height: 25rem;
}

/* PAGE EMPRESA */
.testimony__title {
	font-size: 5rem;
}

.testimony__flex {
	flex-direction: column;
	gap: .2rem;
}

.testimony__info {
	width: 70%;
}

.testimony__img {
	width: 6rem;
	border-radius: 10% 40%;
}

/* PAGE CONTACTO */
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	width: 36rem;
	margin: 4rem auto;
}